#### References:
    www.python.org

#### Questions/feedback: petert@digipen.edu

# Chapter03: Conditions, casting, ...

## Conditional Statements

- if
- if, else
- if, elif, else
- if, elif, else, pass

## Boolean, Casting, Nested Conditional Statements

### Conditional Statement Examples:

In [9]:
if True:
    print("Hello")

Hello

In [10]:
if True:
    print("Hello!")
else:
    print("Hi!")

Hello!

In [11]:
if True:
    pass
else:
    print("The condition must have been 'False'")

In [12]:
if not True:
    pass
else:
    print("The condition must have been 'False'")

The condition must have been 'False'

In [13]:
if 2 * 2 == 5:
    print("2 * 2 = 5")
elif 2 * 2 == 4:
    print("2 * 2 = 4")
else:
    print("2 * 2 = not 4 or 5")

2 * 2 = 4

In [16]:
number_input = int(input("Enter a whole number, we'll check its parity: "))
if number_input % 2 == 0:
    print(number_input, "is even")
else:
    print(number_input, "is odd")

123 is odd

In [15]:
text_input = input("Enter some text and we'll check on its case: ")
if text_input == text_input.lower():
    print(text_input, "is all lowercase")
else:
    print(text_input, "has non-lowercase character in it")

Hi has non-lowercase character in it

In [3]:
text_input

'hello'

In [4]:
text_input.lower()

'hello'

In [ ]:
text_input is text_input.lower()

In [17]:
id(text_input)

1654823308624

In [18]:
id(text_input.lower())

1654821699776

Now try with "digipen" input, notice the faulty code 4 cells above, fix the code and remember the usage of " is ".

### Boolean
- True and False are Boolean variables
- A conditional statement evaluates to Boolean (either True or False)
- True and False also evaluates as 1 and 0

Examples:

In [19]:
True + 0

1

In [20]:
True * False

0

In [21]:
True + True

2

In [22]:
False/True

0.0

In [23]:
True/False

ZeroDivisionError: division by zero

### Casting
- Conversion from a data type to another
- Example 1: str to int
- Example 2: int to str
- Example 3: float to int
- input's output is always a str

In [24]:
pi = 3.14159265358
print(type(pi))

<class 'float'>

In [25]:
print(int(pi))
print(type(int(pi)))

3
<class 'int'>

In [26]:
type(pi)

float

In [27]:
pi

3.14159265358

In [28]:
int("1")

1

In [30]:
print(type("1"))
print(type(int("1")))

<class 'str'>
<class 'int'>

In [31]:
my_age = input("Enter age: ")
print("I'll be ", my_age + 10, "in 10 years")

TypeError: can only concatenate str (not "int") to str

Notice that trying to print: *some text*, *calculated number based on input*, *some text*

Lets fix this:

In [33]:
my_age = input("Enter age: ")
print("I'll be", int(my_age) + 10, "in 10 years")

I'll be 31 in 10 years

### Nested Conditional Statements

In [34]:
number_multi30 = int(input("Enter a number: "))

In [35]:
if number_multi30 % 2 == 0:
    print(number_multi30, "is even")
    if number_multi30 % 3 == 0:
        print(number_multi30, "is a multiple of 6")
        if number_multi30 % 5 == 0:
            print(number_multi30, "is a multiple of 30")
        else:
            print(number_multi30, "is not a multiple of 30")
    else:
        print(number_multi30, "is not a multiple of 6")
else:
    print(number_multi30, "is odd")

336 is even
336 is a multiple of 6
336 is not a multiple of 30

Try to input other numbers, for example: 12, 13, 30, 36, 120, ...

#### Excercise 3.1:
Create a diagram to visualize the nested conditional statements
- for above number_multi30
- save the diagram as an image
- insert using Edit menu / Insert Image command

#### Excercise 3.1 diagram:

#### Excercise 3.2:
- Assign a positive whole number to x between 1 and 9999
- Use nested conditions and print a statement in one line
    - stating how many digits the number x has
    - stating whether the number x is even or odd
- Example: "200 is a 3 digit even number"

In [40]:
# Excercise 3.2 code:

x = 2011

if x % 2 == 0:
    print(x, "is a", len(str(x)), "digit even number")
else:
    print(x, "is a", len(str(x)), "digit odd number")

2011 is a 4 digit odd number