#### References:
    www.python.org
    www.numpy.org
    www.matplotlib.org
    https://pandas.pydata.org
    https://docs.python.org
    http://strftime.org/

#### Questions/feedback: petert@digipen.edu

# Time Series
**Naive times and complex times**
- datetime, date, time, timedelta, timezone

**Frequently occuring "times":**
- time stamps, time periods, time intervals, elapsed time

**Conversion between string and date/time:**
- datetime to str and str to datetime
    - str.strftime()
    - datetime.strptime()
- feature conversion to datetime type
    - .to_datetime()

**Time series in pandas:**
- Time as index column
- Time as feature column

**Date ranges and frequencies**
- Generating date ranges
- Frequencies and Offsets

**Rolling Window Functions**
- Moving average

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
from datetime import timedelta
import time
from IPython import display
%matplotlib inline

Naive dates and times
- datetime: attribute extraction
- datetime.date and datetime.time
- basic arithmetics
- the focus is on attributes
- basic time zone handling (not in scope)

Lets start with printing current date and time:

In [2]:
datetime.now()

datetime.datetime(2024, 11, 18, 10, 52, 53, 890692)

Retrieve attributes of current date and time:

In [3]:
datetime?

Init signature: datetime(self, /, *args, **kwargs)
Docstring:
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.
File:           c:\users\luke\anaconda3\lib\datetime.py
Type:           type
Subclasses:     ABCTimestamp, _NaT

In [4]:
now = datetime.now()
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)       # don't mix up with .min which stands for minimum
print(now.second)
print(now.microsecond)

2024
11
18
10
52
53
960475

In [5]:
now.min

datetime.datetime(1, 1, 1, 0, 0)

In [6]:
now.max

datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)

Note: check out what .min and .max does

Few other methods:

In [7]:
now

datetime.datetime(2024, 11, 18, 10, 52, 53, 960475)

In [8]:
print(now.weekday())
print(now.isoweekday())

print(now.ctime())
print(now.astimezone())

0
1
Mon Nov 18 10:52:53 2024
2024-11-18 10:52:53.960475-08:00

In [9]:
datetime(2024, 11, 18, 10, 42, 21, 28410).weekday()

0

In [10]:
datetime(2024, 11, 18, 10, 42, 21, 28410).isoweekday()

1

In [11]:
now

datetime.datetime(2024, 11, 18, 10, 52, 53, 960475)

In [12]:
now.ctime()

'Mon Nov 18 10:52:53 2024'

Lets check on the type of current date/time:

In [13]:
type(now)

datetime.datetime

Note: datetime is not subscriptable

Now lets store the earliest date/time from year 2024:

In [14]:
datetime(2024, 1, 1, 0, 0, 0, 0)

datetime.datetime(2024, 1, 1, 0, 0)

The remaining time until the new year:

In [15]:
newyear = datetime(2025, 1, 1, 0, 0, 0, 0)
newyear - now

datetime.timedelta(days=43, seconds=47226, microseconds=39525)

In [16]:
now - newyear

datetime.timedelta(days=-44, seconds=39173, microseconds=960475)

The result is datetime.timedelta:

In [17]:
type(newyear - now)

datetime.timedelta

Type wise:

        datetime - datetime = timedelta

It suggests that performing basic arithmetics (like addition) will need more attention:

In [18]:
# below won't work:

# now + 7
# now + datetime.day(7)
# now + now
# now * 2

We need to specify a time difference using *.timedelta()* from *datetime*:

In [19]:
timedelta(days=6, hours=3, minutes=8, seconds=7)

datetime.timedelta(days=6, seconds=11287)

Note that the timedelta of "days, hours, minutes, seconds" was converted to "days, seconds" only

timedelta only has days and seconds attributes (less than datetime):

In [20]:
(timedelta(days=6, hours=3, minutes=8, seconds=7)).days

6

In [21]:
(timedelta(days=6, hours=3, minutes=8, seconds=7))

datetime.timedelta(days=6, seconds=11287)

Notice that timedelta returns days and seconds even though hours and minutes were also specified.

In [22]:
timedelta(days=7)

datetime.timedelta(days=7)

In [23]:
print("Current date and time:")
print(now)
print("A week later:")
print(now + timedelta(days=7))

Current date and time:
2024-11-18 10:52:53.960475
A week later:
2024-11-25 10:52:53.960475

Note the type of timedelta:

In [24]:
print("The type of timedelta:", type(timedelta(days=7)))

The type of timedelta: <class 'datetime.timedelta'>

Type wise:

    datetime + timedelta = datetime
      or
    datetime - timedelta = datetime

**Conversion between string and date/time:**
- datetime to str
- str to datetime
- Related methods:
    - str.strftime()
    - datetime.strptime()

Lets convert a string to datetime format:

In [25]:
str_text = '1989-02-24 03:45:22'
print(str_text)
print("The type is:", type(str_text))

# below will result in error:
str_text + timedelta(days=7)

1989-02-24 03:45:22
The type is: <class 'str'>

TypeError: can only concatenate str (not "datetime.timedelta") to str

Expectadly: we could not automatically add a timedelta to a string. We need to convert the string to datetime format.

In [26]:
datetime.strptime(str_text, '%Y-%m-%d %H:%M:%S')

datetime.datetime(1989, 2, 24, 3, 45, 22)

Use .strptime() method ("p" stands for parsing):

In [27]:
datetime_text = datetime.strptime(str_text, '%Y-%m-%d %H:%M:%S')
datetime_text

datetime.datetime(1989, 2, 24, 3, 45, 22)

In [28]:
type(datetime_text)

datetime.datetime

The conversion was successful.

Now use the result and get a different date/time format of the same datetime using .strftime() method ("f" stands for formatting):

In [29]:
datetime_text

datetime.datetime(1989, 2, 24, 3, 45, 22)

In [30]:
datetime_text.strftime('%m/%d/%Y %H:%M:%S')

'02/24/1989 03:45:22'

In [31]:
datetime_text.strftime('%m/%d/%y %H:%M:%S %A')

'02/24/89 03:45:22 Friday'

***Example:***
You can find out what day of the week you were born.

In [32]:
(datetime.strptime('2003-06-25 22:50:26', '%Y-%m-%d %H:%M:%S')).strftime('I was born on %B %d, %Y. It was on a %A')

'I was born on June 25, 2003. It was on a Wednesday'

STRFTIME codes (from http://strftime.org/):

<table cellpadding="0" cellspacing="0" border="0">
<colgroup>
  <col id="directive">
  <col id="meaning">
  <col id="example">
</colgroup>
<thead>
  <tr>
    <th>Code</th>
    <th>Meaning</th>
    <th>Example</th>
  </tr>
</thead>
<tbody>
    <tr>
      <td><code>%a</code></td>
      <td>Weekday as locale’s abbreviated name.</td>
      <td><code>Mon</code></td>
    </tr>
    <tr>
      <td><code>%A</code></td>
      <td>Weekday as locale’s full name.</td>
      <td><code>Monday</code></td>
    </tr>
    <tr>
      <td><code>%w</code></td>
      <td>Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.</td>
      <td><code>1</code></td>
    </tr>
    <tr>
      <td><code>%d</code></td>
      <td>Day of the month as a zero-padded decimal number.</td>
      <td><code>30</code></td>
    </tr>
    <tr>
      <td><code>%-d</code></td>
      <td>Day of the month as a  decimal number. (Platform specific)</td>
      <td><code>30</code></td>
    </tr>
    <tr>
      <td><code>%b</code></td>
      <td>Month as locale’s abbreviated name.</td>
      <td><code>Sep</code></td>
    </tr>
    <tr>
      <td><code>%B</code></td>
      <td>Month as locale’s full name.</td>
      <td><code>September</code></td>
    </tr>
    <tr>
      <td><code>%m</code></td>
      <td>Month as a zero-padded decimal number.</td>
      <td><code>09</code></td>
    </tr>
    <tr>
      <td><code>%-m</code></td>
      <td>Month as a  decimal number. (Platform specific)</td>
      <td><code>9</code></td>
    </tr>
    <tr>
      <td><code>%y</code></td>
      <td>Year without century as a zero-padded decimal number.</td>
      <td><code>13</code></td>
    </tr>
    <tr>
      <td><code>%Y</code></td>
      <td>Year with century as a decimal number.</td>
      <td><code>2013</code></td>
    </tr>
    <tr>
      <td><code>%H</code></td>
      <td>Hour (24-hour clock) as a zero-padded decimal number.</td>
      <td><code>07</code></td>
    </tr>
    <tr>
      <td><code>%-H</code></td>
      <td>Hour (24-hour clock) as a  decimal number. (Platform specific)</td>
      <td><code>7</code></td>
    </tr>
    <tr>
      <td><code>%I</code></td>
      <td>Hour (12-hour clock) as a zero-padded decimal number.</td>
      <td><code>07</code></td>
    </tr>
    <tr>
      <td><code>%-I</code></td>
      <td>Hour (12-hour clock) as a  decimal number. (Platform specific)</td>
      <td><code>7</code></td>
    </tr>
    <tr>
      <td><code>%p</code></td>
      <td>Locale’s equivalent of either AM or PM.</td>
      <td><code>AM</code></td>
    </tr>
    <tr>
      <td><code>%M</code></td>
      <td>Minute as a zero-padded decimal number.</td>
      <td><code>06</code></td>
    </tr>
    <tr>
      <td><code>%-M</code></td>
      <td>Minute as a  decimal number. (Platform specific)</td>
      <td><code>6</code></td>
    </tr>
    <tr>
      <td><code>%S</code></td>
      <td>Second as a zero-padded decimal number.</td>
      <td><code>05</code></td>
    </tr>
    <tr>
      <td><code>%-S</code></td>
      <td>Second as a  decimal number. (Platform specific)</td>
      <td><code>5</code></td>
    </tr>
    <tr>
      <td><code>%f</code></td>
      <td>Microsecond as a decimal number, zero-padded on the left.</td>
      <td><code>000000</code></td>
    </tr>
    <tr>
      <td><code>%z</code></td>
      <td>UTC offset in the form +HHMM or -HHMM (empty string if the the object is naive).</td>
      <td><code></code></td>
    </tr>
    <tr>
      <td><code>%Z</code></td>
      <td>Time zone name (empty string if the object is naive).</td>
      <td><code></code></td>
    </tr>
    <tr>
      <td><code>%j</code></td>
      <td>Day of the year as a zero-padded decimal number.</td>
      <td><code>273</code></td>
    </tr>
    <tr>
      <td><code>%-j</code></td>
      <td>Day of the year as a  decimal number. (Platform specific)</td>
      <td><code>273</code></td>
    </tr>
    <tr>
      <td><code>%U</code></td>
      <td>Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0.</td>
      <td><code>39</code></td>
    </tr>
    <tr>
      <td><code>%W</code></td>
      <td>Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.</td>
      <td><code>39</code></td>
    </tr>
    <tr>
      <td><code>%c</code></td>
      <td>Locale’s appropriate date and time representation.</td>
      <td><code>Mon Sep 30 07:06:05 2013</code></td>
    </tr>
    <tr>
      <td><code>%x</code></td>
      <td>Locale’s appropriate date representation.</td>
      <td><code>09/30/13</code></td>
    </tr>
    <tr>
      <td><code>%X</code></td>
      <td>Locale’s appropriate time representation.</td>
      <td><code>07:06:05</code></td>
    </tr>
    <tr>
      <td><code>%%</code></td>
      <td>A literal '%' character.</td>
      <td><code>%</code></td>
    </tr>
</tbody>
</table>

***Example:***

Lets convert a feature to datetime

In [33]:
# import data into dataframe
df_sample = pd.read_csv("df_sample.csv")
df_sample.head()

,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,9900641,FD6A1181E0775BAB364BCC2F85E68202,3DB3C7FA79C48DC996093C9BB5524C90,CMT,2,N,2013-02-11 06:46:50,2013-02-11 07:18:33,2,1902,16.10,-73.976471,40.744869,-73.782478,40.648815
1,4366405,DA2617C774E1C173F1F688500A03EC6A,0C9B95E3059720DDF3CB8B1A43057ABC,CMT,1,N,2013-02-28 13:24:03,2013-02-28 13:39:40,1,936,2.00,-73.999069,40.719170,-74.005203,40.740665
2,8902938,F7F570E1A4FB56F811260B181653D91A,DC51C25579775925CD83C35DC2474083,CMT,1,N,2013-02-07 15:19:31,2013-02-07 15:22:54,1,203,0.30,-73.963882,40.765438,-73.969406,40.768372
3,3554704,C901F6F260BB825D6ADA7BBA82EDCDAF,E81AB910D7ED1E06E56BD97F80E50A09,VTS,1,NaN,2013-02-19 17:50:00,2013-02-19 17:59:00,1,540,1.99,-74.009880,40.721348,-74.005074,40.742733
4,10853369,F6E9B6D3636B7357A87D71BC71C5B36F,D9F0CE02744C215B23AAD18842801788,CMT,1,N,2013-02-22 05:25:01,2013-02-22 05:40:25,2,923,8.70,-73.985062,40.744160,-73.883621,40.775604

In [34]:
# check on the data type of features
df_sample.dtypes

Unnamed: 0              int64
medallion              object
hack_license           object
vendor_id              object
rate_code               int64
store_and_fwd_flag     object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_time_in_secs       int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
dtype: object

Note the "pickup_datetime" and "dropoff_datetime" are not date/time types

Checking the type of individual values:

In [35]:
df_sample.loc[2,'pickup_datetime']

'2013-02-07 15:19:31'

In [36]:
type(df_sample.loc[2,'pickup_datetime'])

str

Try importing as datetime:

In [37]:
df_sample = pd.read_csv("df_sample.csv", parse_dates=True)
df_sample.dtypes

Unnamed: 0              int64
medallion              object
hack_license           object
vendor_id              object
rate_code               int64
store_and_fwd_flag     object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_time_in_secs       int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
dtype: object

Notice there is no change, the parser did not work.

If a feature cannot be parsed as a date/time/datetime, the entire feature will be returned unaltered and as an object data type.

Use pandas .to_datetime() method

In [38]:
df_sample['pickup_datetime']

0      2013-02-11 06:46:50
1      2013-02-28 13:24:03
2      2013-02-07 15:19:31
3      2013-02-19 17:50:00
4      2013-02-22 05:25:01
              ...
134    2013-02-21 04:53:00
135    2013-02-20 19:17:00
136    2013-02-02 10:41:38
137    2013-02-04 12:26:14
138    2013-02-08 14:44:00
Name: pickup_datetime, Length: 139, dtype: object

In [39]:
pd.to_datetime(df_sample['pickup_datetime'])

0     2013-02-11 06:46:50
1     2013-02-28 13:24:03
2     2013-02-07 15:19:31
3     2013-02-19 17:50:00
4     2013-02-22 05:25:01
              ...
134   2013-02-21 04:53:00
135   2013-02-20 19:17:00
136   2013-02-02 10:41:38
137   2013-02-04 12:26:14
138   2013-02-08 14:44:00
Name: pickup_datetime, Length: 139, dtype: datetime64[ns]

In [40]:
df_sample.dtypes

Unnamed: 0              int64
medallion              object
hack_license           object
vendor_id              object
rate_code               int64
store_and_fwd_flag     object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_time_in_secs       int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
dtype: object

The feature's type is now datetime

Use an assignment to actually apply the change:

In [41]:
df_sample['pickup_datetime'] = pd.to_datetime(df_sample['pickup_datetime'])
df_sample.dtypes

Unnamed: 0                     int64
medallion                     object
hack_license                  object
vendor_id                     object
rate_code                      int64
store_and_fwd_flag            object
pickup_datetime       datetime64[ns]
dropoff_datetime              object
passenger_count                int64
trip_time_in_secs              int64
trip_distance                float64
pickup_longitude             float64
pickup_latitude              float64
dropoff_longitude            float64
dropoff_latitude             float64
dtype: object

Now the feature can be utilized as a datetime type, for example the format can be changed:

In [42]:
df_sample.head()

,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,9900641,FD6A1181E0775BAB364BCC2F85E68202,3DB3C7FA79C48DC996093C9BB5524C90,CMT,2,N,2013-02-11 06:46:50,2013-02-11 07:18:33,2,1902,16.10,-73.976471,40.744869,-73.782478,40.648815
1,4366405,DA2617C774E1C173F1F688500A03EC6A,0C9B95E3059720DDF3CB8B1A43057ABC,CMT,1,N,2013-02-28 13:24:03,2013-02-28 13:39:40,1,936,2.00,-73.999069,40.719170,-74.005203,40.740665
2,8902938,F7F570E1A4FB56F811260B181653D91A,DC51C25579775925CD83C35DC2474083,CMT,1,N,2013-02-07 15:19:31,2013-02-07 15:22:54,1,203,0.30,-73.963882,40.765438,-73.969406,40.768372
3,3554704,C901F6F260BB825D6ADA7BBA82EDCDAF,E81AB910D7ED1E06E56BD97F80E50A09,VTS,1,NaN,2013-02-19 17:50:00,2013-02-19 17:59:00,1,540,1.99,-74.009880,40.721348,-74.005074,40.742733
4,10853369,F6E9B6D3636B7357A87D71BC71C5B36F,D9F0CE02744C215B23AAD18842801788,CMT,1,N,2013-02-22 05:25:01,2013-02-22 05:40:25,2,923,8.70,-73.985062,40.744160,-73.883621,40.775604

In [43]:
# below would create the feature as expected but would place it at the very end
df_sample['pickup_date'] = df_sample.loc[:,'pickup_datetime'].dt.strftime('%Y/%m/%d')

In [44]:
df_sample

,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,pickup_date
0,9900641,FD6A1181E0775BAB364BCC2F85E68202,3DB3C7FA79C48DC996093C9BB5524C90,CMT,2,N,2013-02-11 06:46:50,2013-02-11 07:18:33,2,1902,16.10,-73.976471,40.744869,-73.782478,40.648815,2013/02/11
1,4366405,DA2617C774E1C173F1F688500A03EC6A,0C9B95E3059720DDF3CB8B1A43057ABC,CMT,1,N,2013-02-28 13:24:03,2013-02-28 13:39:40,1,936,2.00,-73.999069,40.719170,-74.005203,40.740665,2013/02/28
2,8902938,F7F570E1A4FB56F811260B181653D91A,DC51C25579775925CD83C35DC2474083,CMT,1,N,2013-02-07 15:19:31,2013-02-07 15:22:54,1,203,0.30,-73.963882,40.765438,-73.969406,40.768372,2013/02/07
3,3554704,C901F6F260BB825D6ADA7BBA82EDCDAF,E81AB910D7ED1E06E56BD97F80E50A09,VTS,1,NaN,2013-02-19 17:50:00,2013-02-19 17:59:00,1,540,1.99,-74.009880,40.721348,-74.005074,40.742733,2013/02/19
4,10853369,F6E9B6D3636B7357A87D71BC71C5B36F,D9F0CE02744C215B23AAD18842801788,CMT,1,N,2013-02-22 05:25:01,2013-02-22 05:40:25,2,923,8.70,-73.985062,40.744160,-73.883621,40.775604,2013/02/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,3457657,DC67FC4851D7642EDCA34A8A3C44F116,8DDC3A669B017B59512A1DA92CBC97E7,VTS,1,NaN,2013-02-21 04:53:00,2013-02-21 05:00:00,5,420,1.64,-73.988396,40.768280,-73.995110,40.749813,2013/02/21
135,3781780,24570F507E33871C8AA3A87F61BDD523,6DCF325D851A7496C64DEDB51E6CBE6D,VTS,1,NaN,2013-02-20 19:17:00,2013-02-20 19:24:00,5,420,1.78,-74.001625,40.746704,-73.987869,40.764698,2013/02/20
136,13675696,647C50AD2A7FEF04048010B84F6EB40E,4B21128EAAC2102CD237CF2EE97EC7ED,CMT,1,N,2013-02-02 10:41:38,2013-02-02 10:44:29,1,170,0.30,-73.995438,40.723183,-74.000504,40.725655,2013/02/02
137,8397116,69C7668DA934625AD05B87661ABC1BC3,A04054215B0F50B9F9D4CC979623AEAA,CMT,1,N,2013-02-04 12:26:14,2013-02-04 12:36:20,1,605,1.20,-73.970680,40.755634,-73.982025,40.746010,2013/02/04
138,6562983,88022D56614826B6646FF8A9680E4DDA,9CD1E0CD3A5AE3E46DA2EFD255A5598C,VTS,1,NaN,2013-02-08 14:44:00,2013-02-08 15:24:00,2,2400,15.77,-73.790749,40.643902,-73.938744,40.714973,2013/02/08

In [45]:
del df_sample['pickup_date']
df_sample.head()

,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,9900641,FD6A1181E0775BAB364BCC2F85E68202,3DB3C7FA79C48DC996093C9BB5524C90,CMT,2,N,2013-02-11 06:46:50,2013-02-11 07:18:33,2,1902,16.10,-73.976471,40.744869,-73.782478,40.648815
1,4366405,DA2617C774E1C173F1F688500A03EC6A,0C9B95E3059720DDF3CB8B1A43057ABC,CMT,1,N,2013-02-28 13:24:03,2013-02-28 13:39:40,1,936,2.00,-73.999069,40.719170,-74.005203,40.740665
2,8902938,F7F570E1A4FB56F811260B181653D91A,DC51C25579775925CD83C35DC2474083,CMT,1,N,2013-02-07 15:19:31,2013-02-07 15:22:54,1,203,0.30,-73.963882,40.765438,-73.969406,40.768372
3,3554704,C901F6F260BB825D6ADA7BBA82EDCDAF,E81AB910D7ED1E06E56BD97F80E50A09,VTS,1,NaN,2013-02-19 17:50:00,2013-02-19 17:59:00,1,540,1.99,-74.009880,40.721348,-74.005074,40.742733
4,10853369,F6E9B6D3636B7357A87D71BC71C5B36F,D9F0CE02744C215B23AAD18842801788,CMT,1,N,2013-02-22 05:25:01,2013-02-22 05:40:25,2,923,8.70,-73.985062,40.744160,-73.883621,40.775604

In [46]:
df_sample.insert(6, 'pickup_date', df_sample.loc[:,'pickup_datetime'].dt.strftime('%Y/%m/%d'))
df_sample.head()

,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_date,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,9900641,FD6A1181E0775BAB364BCC2F85E68202,3DB3C7FA79C48DC996093C9BB5524C90,CMT,2,N,2013/02/11,2013-02-11 06:46:50,2013-02-11 07:18:33,2,1902,16.10,-73.976471,40.744869,-73.782478,40.648815
1,4366405,DA2617C774E1C173F1F688500A03EC6A,0C9B95E3059720DDF3CB8B1A43057ABC,CMT,1,N,2013/02/28,2013-02-28 13:24:03,2013-02-28 13:39:40,1,936,2.00,-73.999069,40.719170,-74.005203,40.740665
2,8902938,F7F570E1A4FB56F811260B181653D91A,DC51C25579775925CD83C35DC2474083,CMT,1,N,2013/02/07,2013-02-07 15:19:31,2013-02-07 15:22:54,1,203,0.30,-73.963882,40.765438,-73.969406,40.768372
3,3554704,C901F6F260BB825D6ADA7BBA82EDCDAF,E81AB910D7ED1E06E56BD97F80E50A09,VTS,1,NaN,2013/02/19,2013-02-19 17:50:00,2013-02-19 17:59:00,1,540,1.99,-74.009880,40.721348,-74.005074,40.742733
4,10853369,F6E9B6D3636B7357A87D71BC71C5B36F,D9F0CE02744C215B23AAD18842801788,CMT,1,N,2013/02/22,2013-02-22 05:25:01,2013-02-22 05:40:25,2,923,8.70,-73.985062,40.744160,-73.883621,40.775604

**Date ranges and frequencies**
- Generating date ranges
- Specify frequency and periods

Example using .date_range() method:

In [47]:
# specify two dates as a range
index = pd.date_range('2024-11-18', '2024-12-06')
index

DatetimeIndex(['2024-11-18', '2024-11-19', '2024-11-20', '2024-11-21',
               '2024-11-22', '2024-11-23', '2024-11-24', '2024-11-25',
               '2024-11-26', '2024-11-27', '2024-11-28', '2024-11-29',
               '2024-11-30', '2024-12-01', '2024-12-02', '2024-12-03',
               '2024-12-04', '2024-12-05', '2024-12-06'],
              dtype='datetime64[ns]', freq='D')

Note that the frequency is daily by default

Lets change that to weekly:

In [48]:
index = pd.date_range('2024-11-18', '2024-12-06', freq='W')
index

DatetimeIndex(['2024-11-24', '2024-12-01'], dtype='datetime64[ns]', freq='W-SUN')

We can further specify which day the weekly frequency can start:

In [49]:
index = pd.date_range('2024-11-18', '2024-12-06', freq='W-WED')
index

DatetimeIndex(['2024-11-20', '2024-11-27', '2024-12-04'], dtype='datetime64[ns]', freq='W-WED')

If we only specify the start then need to pass a number of periods:

In [50]:
index = pd.date_range(start='2024-11-18', freq='D', periods=19)
index

DatetimeIndex(['2024-11-18', '2024-11-19', '2024-11-20', '2024-11-21',
               '2024-11-22', '2024-11-23', '2024-11-24', '2024-11-25',
               '2024-11-26', '2024-11-27', '2024-11-28', '2024-11-29',
               '2024-11-30', '2024-12-01', '2024-12-02', '2024-12-03',
               '2024-12-04', '2024-12-05', '2024-12-06'],
              dtype='datetime64[ns]', freq='D')

Note that the date time input was considered as a start time.

Lets specify the end time and the number of periods:

In [51]:
index = pd.date_range(end='2024-12-06', freq='D', periods=19)
index

DatetimeIndex(['2024-11-18', '2024-11-19', '2024-11-20', '2024-11-21',
               '2024-11-22', '2024-11-23', '2024-11-24', '2024-11-25',
               '2024-11-26', '2024-11-27', '2024-11-28', '2024-11-29',
               '2024-11-30', '2024-12-01', '2024-12-02', '2024-12-03',
               '2024-12-04', '2024-12-05', '2024-12-06'],
              dtype='datetime64[ns]', freq='D')

Even more complex frequency can be specified.

Example for listing all Patch Tuesdays until the end of next year:

In [52]:
index = pd.date_range(start='2024-11-18', end='2025-12-06', freq='WOM-2TUE')
index

DatetimeIndex(['2024-12-10', '2025-01-14', '2025-02-11', '2025-03-11',
               '2025-04-08', '2025-05-13', '2025-06-10', '2025-07-08',
               '2025-08-12', '2025-09-09', '2025-10-14', '2025-11-11'],
              dtype='datetime64[ns]', freq='WOM-2TUE')

***Example:***

Create a dataframe as a time series using the index as the time and one feature measuring a levitating object's height:

In [ ]:
index = pd.date_range(start='2024-11-18 10:30:00 ', freq='min', periods=80)
index

Now we have one minute time stamps during our class.

Create a somewhat elevating set of values for every minute.

In [ ]:
# create a range between 1 and 80
x = np.arange(1,81)
x

In [ ]:
# create 80 random numbers in the same range
t = np.random.randint(1,81,80)
t

In [ ]:
# combine x and t to get the noisy but mostly elevating levitation heights
y = abs(x + (np.random.randint(2)*2-1)*t)
y

In [ ]:
# create a dataframe with a single feature and the index as a time series and index of the dataframe:
df = pd.DataFrame(y, index, columns=['height'])
df.head()

Simply plot:

In [ ]:
df.plot()
plt.show()

Notice the time ticks on x-axis

**Rolling Window Functions**
- Moving average

Example using .rolling() method:

In [ ]:
df.plot()
df.rolling(10).mean().plot(color="r")
df.rolling(10, center=True).mean().plot(color="darkgreen")
plt.show()

Display the lines in one plot:

In [ ]:
plt.figure(dpi=150)
#plt.plot(index, df.rolling(10).mean(), color="red", linestyle="--")
plt.plot(index, df.rolling(10, center=True).mean(), color="darkgreen", linestyle="--")
plt.plot(df, color="lightblue")
plt.xticks(rotation=45)
plt.legend(['moving average', 'actual height'])
plt.title('Heights and calculated moving average', color="blue")
plt.ylabel('Height', color="lightblue")
plt.xlabel('Time', color="blue")
plt.show()

Note the special cases at rolling = 1 and rolling = 80

Now let's loop through the size of the rolling window:

In [ ]:
plt.figure(dpi=150)
plt.plot(df, color="lightblue")
for i in range(0,80,8):
    plt.plot(index, df.rolling(i).mean(), linestyle="--")
    #time.sleep(1)

plt.xticks(rotation=45)
plt.legend(['actual height'])
plt.title('Heights and calculated moving average', color="blue")
plt.ylabel('Height', color="lightblue")
plt.xlabel('Time', color="blue")
plt.show()

In [ ]:
pd.DataFrame.rolling?

### The rolling window
- is a fixed interval of data which moves sequentially through the entire dataset
- calculates averages, minimums, maximums, sums, or other statistics
- rolls one step at a time through the data, can show trends and patterns in the entire dataset

In [ ]:
index = pd.date_range(start='2024-11-18 10:30:00 ', freq='min', periods=80)
x = np.arange(1,81)
t = np.random.randint(1,81,80)
y = abs(x + (np.random.randint(2)*2-1)*t)
df = pd.DataFrame(y, index, columns=['height'])
df.head()

In [ ]:
df.plot()
plt.show()

In [ ]:
df.plot()
df.rolling(10).mean().plot(color="r")
#df.rolling(10, center=True).mean().plot(color="pink")
plt.show()

In [ ]:
def slp(t = 0):
    display.clear_output(wait=True)
    display.display(plt.gcf())
    time.sleep(t)

In [ ]:
plt.figure(dpi=150)
plt.plot(df, color="lightblue")

for i in range(0,80-10,10):
    plt.xticks(rotation=90)
    plt.plot(index[i:i+11], df[i:i+11], linestyle="--")
    slp(1)
    plt.vlines(index[i], 0, 160, linestyle="-", color='red')
    plt.vlines(index[i+10], 0, 160, linestyle="-", color='red')
    plt.hlines(0, index[i], index[i+10], linestyle="-", color='red')
    plt.hlines(160, index[i], index[i+10], linestyle="-", color='red')
    slp(1)
    plt.hlines(df[i:i+10].mean(), index[i], index[i+10], linestyle="--", color='red')
    slp(1)

plt.legend(['actual height'])
plt.title('Heights, rolling window and calculated moving average', color="blue")
plt.ylabel('Height', color="lightblue")
plt.xlabel('Time', color="blue")

plt.show()

#### Exercise 17.1:

Calculate remaining days and time until the next St. Patrick Day

Display:
 - Current Date and Time
 - Next St. Patricks Day's date using Years, Month, Day and Weekday
 - Remaining time left in: Days, Hours, Minutes, Seconds and Microseconds
 
Extra:
- use a counter which refreshing in place at every second or minute

In [ ]:
# Exercise 17.1 code:

#### Exercise 17.2:

Create a time series dataframe describing the properties of a vertically thrown object from the ground
The formula describing the object is:
\begin{equation}
y = \frac{1}{2}at^2 + v_0 t + y_0
\end{equation}
where: y = height, a = acceleration due to gravity, v<sub>0</sub> = initial velocity, y<sub>0</sub> = initial height

in our case: a = -20, v<sub>0</sub> = 100, y<sub>0</sub> = 0

\begin{equation}
y = -\frac{1}{2}20t^2 + 100t = 100t -10t^2
\end{equation}

- Generate second long timestamps
- Create a feature which will have values corresponding to the object's height in the i<sup>th</sup> second (index i<sup>th</sup> row)
- plot the height in time

Extra:
- find the generic formula for thrown object
- create all possible features (height, distance, speed, etc)
- plot all the features in time

In [ ]:
# Exercise 17.2 code:

Draft code to visualize how rolling window works:

In [ ]:
def slp(t = 1):
    display.clear_output(wait=True)
    display.display(plt.gcf())
    time.sleep(t)

In [ ]:
plt.figure(dpi=150)
plt.plot(df, color="lightblue")
for i in range(0,90,10):
    plt.xticks(rotation=90)
    plt.plot(index[i:i+11], df[i:i+11], linestyle="--")
    slp()
    plt.vlines(index[i], 0, 160, linestyle="-", color='red')
    plt.vlines(index[i+10], 0, 160, linestyle="-", color='red')
    plt.hlines(0, index[i], index[i+10], linestyle="-", color='red')
    plt.hlines(160, index[i], index[i+10], linestyle="-", color='red')
    slp()
    plt.hlines(df[i:i+10].mean(), index[i], index[i+10], linestyle="--", color='red')
    slp()

plt.legend(['actual height'])
plt.title('Heights and calculated moving average', color="blue")
plt.ylabel('Height', color="lightblue")
plt.xlabel('Time', color="blue")
plt.show()